@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Teko:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #0c1526;
    --title-text-color: #fff;
    --text-secondary-color: #9fabba;
    --text-transparent-color: #ffffffb5;
    --accent-color: #d23343;
    --accent-light-color: #db5d69;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Teko', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.button-filled {
    text-decoration: none;
    min-width: 40px;
    min-height: 40px;
    background-color: #D23343;
}

.button-transparent {
    
}

.button-general {

}