/* header section */

.header {

    background-color: var(--background-color);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--title-text-color);
}

.header_nav__menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header__list-items {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.header__list-item a{
    text-decoration: none;
    color: var(--title-text-color);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.header_nav__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header_nav__link {
    text-decoration: none;
    color: var(--title-text-color);
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: var(--accent-color);
    padding: 10px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 3px solid var(--accent-color);
}

.header_nav__link:hover {
    background-color: transparent;
}

.header_nav__sotial {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.header_nav__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color:transparent;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    text-decoration: none;
}

.header_nav__button:hover {
    background-color: var(--accent-color);
    color: var(--background-color);
}

.header_nav__logo {
    width: 196px;
    height: auto;
    margin: 20px;
}

.header__content {
    background-image: url(../img/header_bg.jpeg);
    /* min-height: 510px; */
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.header__content::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(132deg, rgba(31,29,75,.7) 36%, rgba(200,31,60,.7) 100%);
    z-index: -1;
}

.header__content-title {
    color: var(--title-text-color);
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    margin: 0px 15px;
    line-height: 1.1;
}

.header__content-subtitle {
    color: var(--title-text-color);
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 63px;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header__content-sotial-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 55px;
}

.header_content__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    color: var(--title-text-color);
    font-size: 1.5rem;
    text-decoration: none;
}

.header_content__button:hover {
    background-color: var(--accent-light-color);
    transition: all 0.5s ease-out;
}

@media (min-width: 768px) {
    .header__content-title {
        font-size: 102px;
    }
}

@media (min-width: 1000px) {
    .header__content-title {
        font-size: 140px;
    }
}

/* Work Optioins */

.work_options {
    background-color: var(--background-color);
    padding: 0 24px;
}

.work_options__title {
    color: var(--title-text-color);
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding-top: 90px;
    margin-bottom: 40px;
}

.work_options__cards {
    display: grid;
    gap: 30px;
}

.work_options__card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-accent-color);
}

.work_options__card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.work_options__card-title {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 34px;
    color: var(--accent-color);
}

.card_info-container {
    padding: 25px 20px 35px 20px;
    text-align: center;
}

.work_options__card-info {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-secondary-color);
}

@media (min-width: 480px) {
    .work_options__cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 768px) {
    .work_options__card-title {
        font-size: 38px;
    }
    .work_options__title {
        font-size: 51px;
    }
}

@media (min-width: 991px) {
    .work_options__cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .work_options__card-title {
        font-size: 42px;
    }
    .work_options__title {
        font-size: 62px;
    }
}

.work_options__button {
    text-decoration: none;
    color: var(--title-text-color);
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: var(--background-color);
    padding: 10px 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 3px solid var(--accent-color);
}

.work_options__button:hover {
    background-color: var(--accent-color);
}

.work_options__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 90px;
}

/* My Works section */

.my_works {
    background-color: var(--background-accent-color);
    padding: 0 24px;
}

.my_works__title {
    color: var(--title-text-color);
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding-top: 90px;
    margin-bottom: 40px;
}

.my_works__photos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.my_works__photos-item {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 15px solid var(--background-color);
}

.my_works__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 90px;
}

@media (min-width: 480px) {
    .my_works__photos {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 768px) {
    .my_works__title {
        font-size: 51px;
    }
}

@media (min-width: 991px) {
    .my_works__photos {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .my_works__title {
        font-size: 62px;
    }
}

/* Core Values section */

.core_values {
    background-color: var(--background-color);
    padding: 0 24px;
}

.core_values__content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding-bottom: 90px;
}

.core_values__title {
    color: var(--title-text-color);
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding-top: 90px;
    margin-bottom: 40px;
}

.core_values__img-item {
    border: 15px solid var(--background-accent-color);
}

.core_values__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.core_values__content-title {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--title-text-color);
    margin-bottom: 60px;
}

.core_values__content-title span{
    width: 10px;
    height: 31px;
    background-color: var(--accent-color);
    padding: 2px 5px;
}

.core_values__content-text {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-secondary-color);
}

.core_values__content-text i {
    color: var(--accent-color);
    height: 20px;
    width: 20px;
}

.core_values__button-wrapper {
    display: flex;
    margin-top: 10px;
}

.core_values__content-link-btn {
    text-decoration: none;
    color: var(--title-text-color);
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: var(--background-color);
    padding: 10px 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 3px solid var(--accent-color);
}

.core_values__content-link-btn:hover {
    background-color: var(--accent-color);
}

@media (min-width: 768px) {
    .core_values__content-wrapper {
        grid-template-columns: 1fr 1fr;
    }
    .core_values__title {
        font-size: 51px;
    }
}

@media (min-width: 991px) {
    .core_values__title {
        font-size: 62px;
    }
}

/* Get Tattoo section*/

.get_tattoo {
    background-image: url(../img/get-tatoo-bg.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.get_tattoo__title {
    color: var(--title-text-color);
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding-top: 90px;
    margin-bottom: 40px;
}

.get_tattoo__content {
    /* display: grid; */
    padding: 0 24px 90px 24px;
}

.get_tattoo__item-number {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--title-text-color);
}

.get_tattoo__item-title {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: var(--accent-color);
}

.get_tattoo__item-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-transparent-color);
}

.get_tattoo__content-item { 
    display: flex;
    flex-direction: column;
}

@media (min-width: 480px) {
    .get_tattoo__content {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 768px) {
    .get_tattoo__title {
        font-size: 51px;
    }
    .get_tattoo__item-number {
        font-size: 17px;
    }
    .get_tattoo__item-title {
        font-size: 30px;
    }
}

@media (min-width: 991px) {
    .get_tattoo__title {
        font-size: 62px;
    }
    .get_tattoo__item-number {
        font-size: 18px;
    }
    .get_tattoo__item-title {
        font-size: 34px;
    }
}

/* Awards section */

.awards {
    background-image: url(../img/awards-bg.png);
    background-position: 65% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.awards__content_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 0 24px 90px 24px;
}

.awards__title {
    color: var(--title-text-color);
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding-top: 90px;
    margin-bottom: 40px;
}

.awards__img-item {
    border: 15px solid var(--accent-dark-color);
}

.awards__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.awards__content-item {
    display: flex;
    gap: 20px;
}

.awards__content-img {
    background-color: var(--background-color);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.awards__content-img img {
    height: 26px;
    width: 26px;
}

.awards__content-subtitle {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: var(--title-text-color);
    line-height: 1;
}

.awards__content-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--title-text-color);
    line-height: 1.7;
}

@media (min-width: 768px) {
    .awards__content_wrapper {
        grid-template-columns: 1fr 1fr;
    }
    .awards__title {
        font-size: 51px;
    }
    .awards__content-img {
        width: 70px;
        height: 70px;
    }
    .awards__content-img img {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 991px) {
    .awards__title {
        font-size: 62px;
    }
    .awards__content-subtitle {
        font-size: 34px;
    }
}

/* Appointment section */

.appointment {
    background-image: url(../img/appointment-bg.png);
    background-position: 33% 3%;
    background-size: 200%;
    background-repeat: no-repeat;
    padding: 90px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appointment__form {
    background: var(--accent-color);
    padding: 40px;
    max-width: 570px;
    width: 100%;
}

.appointment__content {
    text-align: center;
}

.appointment__content-title {
    font-weight: 500;
    font-size: 40px;
    color: var(--title-text-color);
    line-height: 1.1;
}

@media (min-width: 768px) {
    .appointment__content-title {
        font-size: 51px;
    }
}

@media (min-width: 991px) {
    .appointment__content-title {
        font-size: 62px;
    }
    .appointment__form {
        padding: 60px;
    }
}

.appointment__content-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--title-text-color);
    margin: 30px 0;
    padding: 0 20px;
}

@media (min-width: 991px) {
    .appointment__content-text {
        padding: 0 40px;
    }
    .appointment__content-text {
        margin-bottom: 60px;
    }
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 14px 20px;
    margin-bottom: 15px;
    background-color: var(--accent-light-color);
    border: none;
    font-size: 18px;
    width: 100%;
    margin-top: 12px;
}

/* input[type="text"]:focus {
    border: 1px solid #007bff;      doesn't work for some reason?
} */

input::placeholder {
    color: var(--text-transparent-color);
}

.appointment__form-btn {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--title-text-color);
    color: var(--background-color);
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 40px;
}

.appointment__form-btn:hover {
    background-color: var(--background-color);
    color: var(--title-text-color);
}

/* Footer section */

.footer {
    background-color: var(--background-color);
    padding-bottom: 90px;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
}

.footer__logo-container {
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

.footer__logo {
    width: 232px;
    height: auto;
}

.footer__menu {
    margin-top: 30px;
}

.footer__menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer__list-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.footer__list-item a {
    text-decoration: none;
    color: var(--title-text-color);
}

.footer__list-item a:hover {
    color: var(--accent-color);
}

.footer__content-sotial-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.footer_content__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color:transparent;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    text-decoration: none;
}

.footer_content__button:hover {
    background-color: var(--accent-color);
    color: var(--background-color);
}

.rights {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 35px;
}

.rights__text {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-secondary-color);
}

@media (min-width: 991px) {
    .footer__menu ul {
        flex-direction: row;
        gap: 50px;
    }
    .rights {
        flex-direction: row;
        justify-content: center;
    }
    .rights__text {
        font-size: 18px;
    }
}
